<!DOCTYPE html>
<html lang="en">
    <head>
      <%= stylesheet_link_tag "aide.css", media: "all", "data-turbolinks-track" => "true" %>
      <%= stylesheet_link_tag "aide.js", media: "all", "data-turbolinks-track" => "true" %>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="aide.css" />
      <title>Comment pouvant-nous aider ?</title>
    </head>

<header>

    <div class="baniere" style="color:white;">

      <h3>Comment pouvant-nous aider ?</h3>

    </div>

</header>

<body>

  <h2>Locataire</h2>
    <button class="accordion">Quels sont les moyens de paiement acceptés ?</button>
      <div class="panel">
        <p>Vous devez payer la location avec une carte bancaire à votre nom. Seuls les paiements faits avec une carte MASTERCARD, VISA et VISA Electron sont acceptés.<br/>Les chèques, espèces, e-cartes bleues, cartes bancaires prépayées, Maestro, Paypal ou American Express ne sont pas acceptés.</p>
      </div>

    <button class="accordion">Quelles sont les conditions pour pouvoir louer sur Baïkee ?</button>
      <div class="panel">
        <p>Pour louer sur , vous devez :

Être en possession d'un permis de conduire valable dans le pays de location . Si vous avez un permis étranger, cliquez pour en savoir plus.
<br>Respecter les conditions d'âge et d'années de permis correspondant à la catégorie de la voiture louée (voir les conditions par catégorie). <br>
Payer la location sur le site avec un moyen de paiement à votre propre nom. Vous devrez ensuite présenter la carte bancaire utilisée au propriétaire au début de la location. En savoir plus sur les moyens de paiements acceptés.
A noter également, vous devez : <br>

Rester dans les pays européens autorisés (voir la liste des pays). <br>
Ne pas utiliser le véhicule pour faire du transport commercial de personnes (seul le covoiturage, avec partage des coûts, est autorisé). <br>
Rester le conducteur principal du véhicule pendant la location : vous ne pouvez pas louer un véhicule pour l’usage d’une autre personne. Toutefois, tant que vous restez le conducteur principal, le propriétaire peut accepter des conducteurs secondaires respectant les conditions de location. <br>
Le respect de ces conditions est indispensable pour que vous soyez couvert par notre assurance au cours de votre location. Le propriétaire vérifiera ces éléments au début de la location, et vous refusera la location en cas de non-respect des conditions. <br>
</p>
      </div>

    <button class="accordion">Où trouver mon justificatif de paiement ?</button>
      <div class="panel">
        <p>Pour télécharger et imprimer facilement vos justificatifs de paiements, vous pouvez vous connecter à votre compte Baïkee depuis un navigateur web (et non depuis l’appli mobile) puis vous rendre dans : Mes locations > Voir les locations terminées > [location concernée] . <br>Au niveau du prix, cliquez sur "Détails" pour accéder à votre reçu.

S'agissant de location entre particuliers, nous ne pouvons pas fournir de facture avec TVA mais ce justificatif a la même valeur légale et peut servir de note de frais.</p>
      </div>


  <h2>Propriétaire</h2>

    <button class="accordion2">Que faire si le locataire a parcouru plus de kilomètres que prévu ou que le niveau d’essence est différent en fin de location ?</button>
      <div class="panel">
        <p>En fin de location vous disposez de 24h pour demander un ajustement du prix si le locataire a parcouru plus de kilomètres que prévu, ou que le niveau d’essence est différent de celui en début de location.</p>
      </div>

    <button class="accordion2">Quand suis-je payé ?</button>
      <div class="panel">
        <p>Vous êtes payé par virement bancaire dans un délai maximum de 3 jours ouvrés suivant la fin de la location. <br>Les virements mettent ensuite en général 1 à 2 jours ouvrés pour arriver sur votre compte bancaire. <br>

Cela signifie donc que vous verrez apparaître l’argent sur votre compte bancaire entre 4 et 5 jours ouvrés suivant la fin de la location.</p>
      </div>

<script type="text/javascript" src="aide.js"></script>
</body>
</html>
