<!DOCTYPE html>
<html lang="en">
    <head>
      <%= stylesheet_link_tag "comment-ca-marche.css" %>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="comment-ca-marche.css" />
      <title>Comment ça marche ?</title>
    </head>

<header>

    <div class="baniere" style="color:white;">

      <h3>Comment ça marche ?</h3>

    </div>

</header>

<body>
    <div class="container">

      <div class="row">
        <div class="column">

          <h2>Locataire</h2>

            <h1>Besoin d'un deux roues, louez sur Baïkee </h1>

              <div class="main">

                  <article>
                      <header>
                          <h2>1. Cherchez un véhicule</h2>
                      </header>
                      <section>
                          <h2>2. Réservez un véhicule</h2>
                      </section>
                      <section>
                          <h2>3. Récupérez un véhicule</h2>
                      </section>
                      <section>
                          <h2>4. Rendez le véhicule en fin de location</h2>
                      </section>
                      <section>
                          <h2>5. Evaluez la location</h2>
                      </section>
                  </article>

                  <p>
                  <a class="button button_asphalt button_big_cta button_xs_block" href="https://www.baïkee.com/louer-un-deux-roues">Louer un deux roues</a>
                  </p>

              </div> <!-- #main -->

            </div>



            <div class="column">
              <h2>Propriétaire</h2>
              <h1>Rentabilisez votre deux roues sur <br>Baïkee</h1>

              <div class="main">

                  <article>
                      <header>
                          <h2>1. Inscrivez votre véhicule</h2>
                      </header>
                      <section>
                          <h2>2. Recevez des demandes de locations</h2>
                      </section>
                      <section>
                          <h2>3. Retrouvez le locataire</h2>
                      </section>
                      <section>
                          <h2>4. Récupérez votre véhicule</h2>
                      </section>
                      <section>
                          <h2>5. Evaluez la location</h2>
                      </section>
                      <section>
                          <h2>6. Recevez vos gains</h2>
                      </section>
                  </article>

              </div> <!-- #main -->

            <p>
              <a class="button button_asphalt button_big_cta button_xs_block" href="https://www.baïkee.com/inscrire-mon-véhicule">Inscrire mon véhicule</a>
            </p>

</body>
</html>
